* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
blockquote {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}
p,
cite {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: Georgia;
  color: #fff;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 2rem;
}
span {
  will-change: opacity;
  opacity: 0;
}
span.animate {
  opacity: 1;
  -webkit-filter: blur(0) !important;
}
cite {
  font-family: verdana;
  font-size: 0.9rem;
  color: #aaa;
  opacity: 0;
  font-style: normal;
  font-weight: 500;
}
cite.animate {
  opacity: 1;
}
